body {
    font-family: 'Times New Roman', Times, serif;
    background: radial-gradient(circle at center, 
    blue,lightblue 25%, 
    lightblue 75%, blue);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blue;
    color: white;
    border: 5px solid #000;
    border-radius: 12px;
    box-shadow: 0 6px 18px;
}

header nav a {
    color: white;
    padding: 5px;
}

header nav a:hover {
    background-color: black;
    border-radius: 12px; 
}

header .title {
    font-size: 150%;
    font-style: italic;
    font-weight: bold;
    padding: 1em;
}

.contact {
    text-align: center; /*centers everything inside the class*/
    padding: 50px; /*gives the padding between header and the class */
}

form {
    max-width: 400px; /*max width of the name and email inputs*/
    margin: auto; /*makes left and right space the same*/
    display: flex; /*creates flexbox container*/
    flex-direction: column; /*stacks everything vertically*/
    gap: 15px; /*gap between each textbox*/
    
}

input, textarea {
    padding: 10px; /*adds padding around the placeholder*/
    border-radius: 12px; /*creates the round edges*/
    border: 5px solid darkblue; /*creates the border around input boxes*/
    box-shadow: 0 6px 18px; /*creates the shadow*/
}

button {
    padding: 10px; /*creates space around Send Message*/
    background: blue; /*creates the color of the button*/
    color: black; /*texte color*/
    border-radius: 10px; /*creates the round edges*/
    box-shadow: 0 6px 18px;/*creates the shadow*/
}

button:hover {
    background: white; /*glows white when you hover over it*/
}