.contact {
    text-align: center; /*centers everything inside the class*/
    color: white;
    font-size: 1.5rem;
    padding: 50px; /*gives the padding between header and the class */
}

form {
    max-width: 400px; /*max width of the name and email inputs*/
    margin: auto; /*makes left and right space the same*/
    display: flex; /*creates flexbox container*/
    flex-direction: column; /*stacks everything vertically*/
    gap: 15px; /*gap between each textbox*/
    
}

input, textarea {
    padding: 10px; /*adds padding around the placeholder*/
    border-radius: 12px; /*creates the round edges*/
    border: 5px solid black; /*creates the border around input boxes*/
    box-shadow: 0 6px 18px; /*creates the shadow*/
}

button {
    padding: 10px; /*creates space around Send Message*/
    background: white; /*creates the color of the button*/
    border: 5px solid black;
    font-size: 1rem;
    color: black; /*texte color*/
    border-radius: 10px; /*creates the round edges*/
    box-shadow: 0 6px 18px;/*creates the shadow*/
}

button:hover {
    background: red; /*glows white when you hover over it*/
}

/*
The below text will adjust the page 
for when the screen size is below 450px
*/
@media (max-width: 450px){

    header {
        flex-direction: column;
        text-align: center;
        padding: 10px;
    }

    header .title {
        font-size: 2rem;
        padding: 10px;
    }

    header nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    header nav a {
        font-size: 1.2rem;
        padding: 10px;
    }
}