.goals {
    width: 90%; /*takes 90% of the size of the page*/
    max-width: 1000px; /*width can be any size besides greater than 1000*/
    margin: auto; /*sets the margin evenly on both sides*/
}

.intro {
    text-align: center; /*Centers the text*/
    margin-bottom: 40px; /*creates a 40px gap at the bottom*/
}

.intro h2 {
    font-size: 2rem; /*Size of the for 32px*/
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 10px; /*creates a 10px gap at the bottom*/
    color: white; /*sets the text to black*/
}

.intro p {
    max-width: 500px; /*width can be any size besides greater than 500*/
    margin: auto; /*sets the margin evenly on both sides*/
    font-size: 1.5rem; /*Size of the for 16px*/
    color: white;
}

.grid {
    display: grid; /*turns into a grid layout*/
    gap: 20px; /*space between items in the grid*/
    margin-bottom: 50px; /*creates a 50px gap at the bottom*/
}

.card {
    background-color: lightblue; /*creates the background color of the cards*/
    padding: 25px; /*creaets a space all around the text*/
    border-radius: 15px; /*creates the round edges*/
    box-shadow: 0 6px 18px; /*creates the shadow*/
    p {
        text-align: justify;
        font-size: 1.3rem;
    }
}

.card h3 {
    color: black; /*makes the text black*/
    margin-top: 10px;
    margin-bottom: 10px; /*creates a 10px gap at the bottom*/
    font-size: 2rem; /*Size of the for 24px*/
}

.car {
    display: grid; /*turns into a grid layout*/
    grid-template-columns: 1fr 1fr; /*creates 2 equal cols*/
    gap: 30px; /*creates a gap on the items in the grid*/
    align-items: center; /*aligns the items to the center*/
    background-color: lightblue; /*turns the background to the designated color*/
    padding: 25px; /*creates space all around the info*/
    border-radius: 15px; /*creates the round edges*/
    box-shadow: 0 6px 18px; /*creates the shadow*/
}

.img img{
    width: 100%; /*fills the entire section of the grid*/
    border-radius: 12px; /*creates round edges*/
    box-shadow: 0 6px 18px; /*creates shadow*/
}

.text h2 {
    color: black; /*turns text to designated color*/
    font-size: 2rem; /*Size of the for 32px*/
    margin-bottom: 15px; /*creates the space at the bottom of the h2*/
}
.text p {
    font-size: 1.3rem; /*Size of the for 16px*/
}

@media (max-width: 450px){

    header {
        flex-direction: column;
        text-align: center;
        padding: 10px;
    }

    header .title {
        font-size: 2rem;
        padding: 10px;
    }

    header nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    header nav a {
        font-size: 1.2rem;
        padding: 10px;
    }
}