.myself {
    text-align: center; /*Centers all the elements inside the class*/
}

.myself p {
    color: white;
    font-size: 1.2rem;
    text-align: center;
    /*text align justify for mobile and some padding*/
}

.myself h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2.5rem; /*Based on root font size 2rem = 32px*/
    margin-bottom: 10px; /*Creates a gap on the bottom of the header*/
    color: white; /*Mkaes the text black*/
}

.img img {
    text-align: center;
    margin: auto; /*auto does space on the left and right*/
    width: 15%; /*15% of the size of the picture*/
    border-radius: 12px; /*creates round edges*/
    box-shadow: 0 6px 18px; /*creates the shadow*/
}

/*
The below text will adjust the page 
for when the screen size is below 450px
*/

@media (max-width: 450px){

    header {
        flex-direction: column;
        text-align: center;
        padding: 10px;
    }

    header .title {
        font-size: 2rem;
        padding: 10px;
    }

    header nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    header nav a {
        font-size: 1.2rem;
        padding: 10px;
    }

    .img img {
        width: 50%;
    }

    .myslef h2 {
        font-size: 2rem;
    }

    .myself p {
        font-size: 1rem;
        padding: 10px;
        text-align: justify;
    }
}
