body {
    /*
        this sets the font and the background for the entire page.
    */ 
    /*make the nave and the name a little bigger*/
    margin: 0;
    background: url("./Pictures/background (2).jpg");
    background-size: cover;
    background-attachment: fixed;
    max-height: 110%;  
}

header {
    display: flex;
    justify-content: space-between; /*How you push the content to opposite ends*/
    align-items: center; /*Alignment up and down*/
    background-color: #ffffff; /*Sets the background color of the header*/
    color: black; /*Makes the text white*/
}

header nav a {
    display: inline-block;
    transition: transform 0.2s ease;
    color: black; /*Sets the text color*/
    font-size: 1.5rem;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 5px; /*Puts a space all around*/
}

header nav a:hover {
    transform: scale(1.2);
}

header .title {
    max-width: 110%;
    font-size: 2.5rem; /*Makes the font 150% bigger than normal*/
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic; /*Italicises the font*/
    font-weight: bold; /*Makes the font bold*/
    padding: 25px; /*Puts a space all around*/
}

.cards {
    background-color: black; /*creates the background color*/
    border-radius: 12px; /*creates round edges*/
    padding: 20px; /*creates space all around the text*/
    text-align: center; /*centers it */
    box-shadow: 0 6px 18px; /*creates the shadows*/
}

.media {
    margin-bottom: 20px;/*creates the space at the bottom*/
}

.media iframe {
    width: 500px; /*Width of the video*/
    height: 250px; /*height of the video*/
    border-radius: 12px; /*Creates the round edges*/
    border: 5px solid black; /*creates the black border around the video*/
    box-shadow: 0 6px 18px; /*creates the shadow*/
}

.media img {
    width: 10%; /*10% size of the img*/
    border-radius: 12px; /*Creates the round edges*/
    border: 5px solid black; /*creates the black border around the img*/
    box-shadow: 0 6px 18px; /*creates the shadow*/
}

.card h2 {
    font-size: 2rem; /*font size of h2 32px*/
    margin-bottom: 10px; /*creating space at the bottom*/
}

.card h3 {
    font-size: 1.5rem; /*font size of h3 24px*/
    margin-bottom: 15px; /*creating space at the bottom*/
}

.card p {
    font-size: 1rem; /*font size of p 16px*/
    color: black; /*Makes the text black*/
}

.card1 {
    color: white; /*Makes the text white*/
}

@media (max-width: 450px){

    header {
        flex-direction: column;
        text-align: center;
        padding: 10px;
    }

    header .title {
        font-size: 2rem;
        padding: 10px;
    }

    header nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    header nav a {
        font-size: 1.2rem;
        padding: 10px;
    }
}