body {
    /*
        this sets the font and the background for the entire page.
    */ 
    /*make the nave and the name a little bigger*/
    margin: 0;
    background: url("./Pictures/background (2).jpg");
    background-size: cover;
    background-attachment: fixed;
    max-height: 110%;  
}

header {
    display: flex;
    justify-content: space-between; /*How you push the content to opposite ends*/
    align-items: center; /*Alignment up and down*/
    background-color: #ffffff; /*Sets the background color of the header*/
    color: black; /*Makes the text white*/
}

header nav a {
    display: inline-block;
    transition: transform 0.2s ease;
    color: black; /*Sets the text color*/
    font-size: 1.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 5px; /*Puts a space all around*/
}

header nav a:hover {
    transform: scale(1.2);
}

header .title {
    max-width: 110%;
    font-size: 2.5rem; /*Makes the font 150% bigger than normal*/
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic; /*Italicises the font*/
    font-weight: bold; /*Makes the font bold*/
    padding: 25px; /*Puts a space all around*/
}

.intro {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 1.5rem;
    color: white;
}

.container {
    width: 90%;
    margin: 40px auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
}

.media {
    margin-bottom: 20px;/*creates the space at the bottom*/
}

.media iframe {
    width: 75%; /*Width of the video*/
    height: 220px;
    border-radius: 10px; /*Creates the round edges*/
}

.media img {
    width: 25%; /*10% size of the img*/
    height: 350px;
    border-radius: 10px; /*Creates the round edges*/
}


.card {
    background: lightblue;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 6px 18px;

    h2 {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 2rem; /*font size of h2 32px*/
        margin-bottom: -20px; /*creating space at the bottom*/
        color: black;
    }

    h3 {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 1.5rem; /*font size of h3 24px*/
        margin-bottom: 15px; /*creating space at the bottom*/
        color: black;
    }

    p {
        font-size: 1.2rem; /*font size of p 16px*/
        color: black; /*Makes the text black*/
    }
}

@media (max-width: 450px){

    header {
        flex-direction: column;
        text-align: center;
        padding: 10px;
    }

    header .title {
        font-size: 2rem;
        padding: 10px;
    }

    header nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    header nav a {
        font-size: 1.2rem;
        padding: 10px;
    }

    .media img {
        width: 50%;
    }

    .media iframe {
        width: 50%;
    }
}