body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: lightblue;
}

h1,
p,
.volume_status {
    text-align: center;
    max-width: 600px;
    margin: 20px auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin: 20px 0;
}

.center {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid_container {
    max-width: 600px;
    margin: 0%;
    padding: 20px;
    border: 5px solid black;
    border-radius: 12px;
    background-color: darkblue;
}

.volume_button {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 16px;
    font-size: 1rem;
    border: 1px solid black;
    border-radius: 15px;
    background-color: lightgray;
}

.set_volume {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 16px;
}

label {
    font-weight: bold;
}

.submit_button,
.reset_button {
    padding: 12px 18px;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
}

.submit_button {
    background: green;
    color: black;
}

.reset_button {
    background: red;
    color: black;
}

.message_center,
.end_button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.message {
    max-width: 50%;
    text-align: center;
    margin-top: 18px;
    padding: 14px;
    border-radius: 10px;
    background: black;
    color: white;
}

.volume_button.correct {
    background-color: green;
    color: white;
}

.volume_button.wrong {
    background-color: red;
    color: white;
}

.end_button {
    margin-top: 12px;
    display: flex;
    gap: 12px;
}